@keyframes moveindown {
  0% {
    opacity: 0;
    transform: translateY(-110rem); }
  50% { }
  70% {
    transform: translateY(2rem); }
  100% {
    opacity: 1; } }

@keyframes moveinup {
  0% {
    opacity: 0;
    transform: translateY(110rem); }
  70% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 6.25%; }

body {
  box-sizing: border-box; }

.heading-primery {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primery-main {
    display: block;
    font-weight: 400;
    letter-spacing: 36rem;
    font-size: 70rem;
    animation-name: moveindown;
    animation-duration: 3s; }
  .heading-primery-sub {
    display: block;
    font-weight: 400;
    letter-spacing: 19rem;
    font-size: 22rem;
    animation-name: moveinup;
    animation-duration: 3s; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #808080;
  padding: 16rem; }

.heading-secondery {
  font-size: 35rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2rem;
  transition: all 0.3s; }
  .heading-secondery:hover {
    transform: skewX(10deg) skewY(2deg) scale(1.1);
    text-shadow: 5rem 10rem 5rem rgba(0, 0, 0, 0.05); }

.heading-tertiary {
  font-size: 17rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 16rem;
  margin-bottom: u-margin-bottom-small; }
  .paragraph:last-child {
    margin-bottom: 50rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 80rem !important; }

.u-margin-bottom-small {
  margin-bottom: 16rem !important; }

.u-margin-top-storySection {
  margin-top: -200rem !important; }

.btn:visited, .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15rem 40rem;
  border-radius: 100rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.3, 1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(1rem);
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.1); }

.btn.white {
  font-size: 15rem;
  text-decoration: none;
  display: inline-block;
  color: #28b485;
  background-color: #fff;
  padding: 16.5rem;
  border-radius: 100rem;
  margin-top: 50rem;
  animation-name: moveinup;
  animation-duration: 3s;
  text-transform: uppercase;
  margin-right: 30rem; }
  .btn.white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s; }

.story {
  width: 75%;
  margin: 0 auto;
  padding: 60rem;
  padding-left: 90rem;
  box-shadow: 50rem 50rem 50rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  font-size: 16rem;
  transform: skewX(-10deg);
  transition: all 0.5s; }
  .story > * {
    transform: skewX(10deg); }
  .story__caption {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, 50%);
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translate(-35rem) scale(1);
    filter: blur(3px) brightness(80%); }
  .story__shape {
    width: 150rem;
    height: 150rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-30rem) skewX(10deg);
    position: relative; }
  .story__img {
    width: auto;
    height: 100%;
    transform: translate(-35rem) scale(1.4);
    transition: all 0.5s; }

.button-small {
  text-transform: capitalize;
  display: inline-block;
  font-size: 14rem;
  text-decoration: none;
  transition: all .3s;
  padding: 5rem;
  margin-top: 15rem;
  cursor: pointer;
  border: none; }

.button-small:link, .button-small:visited, .button-small {
  color: #28b485;
  border-bottom: 1px solid #7ed56f;
  border-radius: 0; }

.button-small:hover, .button-small:active {
  color: #fff;
  background-color: #7ed56f; }

.button-small:hover {
  transform: translateY(-3rem); }

.button-small:active {
  transform: translateY(0); }

.composition {
  position: relative;
  margin-top: -15rem; }

.composition__photo {
  width: 70%;
  box-shadow: 0 15rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.3s; }

.composition__photo--p1 {
  left: 0rem;
  top: 0rem; }

.composition__photo--p2 {
  left: 322rem;
  top: 30rem; }

.composition__photo--p3 {
  left: 75rem;
  top: 170rem; }

.composition__photo:hover {
  transform: scale(1.15) translateY(-5rem);
  box-shadow: 0 25rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20; }

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9); }

.feature-box {
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20rem;
  text-align: center;
  border-radius: 5rem;
  box-shadow: 0 15rem 4rem rgba(0, 0, 0, 0.15); }
  .feature-box__icon {
    font-size: 55rem;
    background-image: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    font-size: 14rem; }
  .feature-box:hover {
    transform: scale(1.1) translateY(-30rem); }

.card {
  perspective: 800rem;
  -moz-perspective: 800rem;
  position: relative;
  height: 500rem;
  width: 100%;
  transition: all 1.2s ease; }
  .card__side {
    height: 500rem;
    transition: all 1.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.17);
    border-radius: 20px 20px 5px 5px;
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back p {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16rem;
        color: #fff;
        margin: 0 auto; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back--price {
        position: absolute;
        top: 500% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50rem;
        color: #fff;
        font-weight: 100; }
    .card__side a {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .card:hover {
    transform: scale(1.15);
    transition: all 1.2s ease; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 250rem;
    background-blend-mode: overlay;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 26rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 120rem;
    right: 25rem;
    text-align: right;
    width: 50%; }
  .card__heading_span {
    padding: 8rem 10rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading_span-1 {
      background-image: linear-gradient(to right, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)); }
    .card__heading_span-2 {
      background-image: linear-gradient(to right, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)); }
    .card__heading_span-3 {
      background-image: linear-gradient(to right, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
  .card__details {
    padding: 25rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      margin-top: -20rem; }
      .card__details ul li {
        text-align: center;
        font-size: 15rem;
        padding: 10rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1rem solid rgba(0, 0, 0, 0.1); }

.form__input {
  font-size: 16rem;
  padding: 15rem 20rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 5px solid transparent;
  display: block;
  width: 90%;
  color: inherit;
  transition: all 0.3s; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid rgba(40, 180, 133, 0.8); }
    .form__input:focus:invalid {
      border-bottom: 5px solid rgba(255, 119, 48, 0.8); }
    .form__input:focus:valid {
      border-bottom: 5px solid rgba(40, 180, 133, 0.8); }

.form__label {
  font-size: 12rem;
  font-weight: 700;
  margin-left: 20rem;
  margin-top: 7rem;
  display: block;
  transition: all 0.3s; }

.form__group:not(last-child) {
  margin-bottom: 12rem; }

.form__input:placeholder-shown ~ .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 16rem;
  cursor: pointer;
  position: relative;
  padding-left: 40rem; }

.form__radio-button {
  height: 20rem;
  width: 20rem;
  border: 3px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -3rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: all 0.1s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 200;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close {
    z-index: 210; }
    .popup__close:link, .popup__close:visited {
      color: #999;
      position: absolute;
      top: 25rem;
      right: 25rem;
      font-size: 40rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1; }
    .popup__close:hover {
      color: #55c57a; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: 12rem;
    background-color: white;
    box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
    transition: all 0.5s; }
  .popup__left {
    width: 33.3333%;
    display: table-cell; }
  .popup__right {
    width: 66.6667%;
    display: table-cell;
    vertical-align: middle;
    padding: 15rem; }
  .popup__img {
    display: block;
    width: 100%;
    overflow: hidden; }
  .popup__text {
    font-size: 14rem;
    margin-bottom: 40rem;
    column-count: 2;
    column-gap: 40rem;
    column-rule: 1px solid rgba(153, 153, 153, 0.3);
    hyphens: auto; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 60rem;
  width: 60rem;
  position: fixed;
  top: 40rem;
  right: 40rem;
  border-radius: 50%;
  z-index: 101;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  top: 45rem;
  right: 45rem;
  position: fixed;
  z-index: 99;
  box-shadow: 0 10rem 30rem rgba(0, 0, 0, 0.2); }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 10rem; }

.navigation__link {
  transition: all 0.6s; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    padding: 10rem 20rem;
    text-decoration: none;
    font-size: 30rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 300%;
    transform: translateX(0); }
  .navigation__link:hover, .navigation__link:active {
    transform: translateX(10rem);
    background-position: 100%;
    color: #7ed56f; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
  transition: all 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  transition: all 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__span {
  position: relative;
  margin-top: 30rem; }
  .navigation__span, .navigation__span::after, .navigation__span::before {
    width: 30rem;
    height: 2rem;
    background-color: #999;
    display: inline-block; }
  .navigation__span::after, .navigation__span::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__span::before {
    top: -7rem;
    transition: 0.3s; }
  .navigation__span::after {
    top: 7rem;
    transition: 0.3s; }

.navigation__button:hover .navigation__span::before {
  top: -10rem;
  transition: 0.3s; }

.navigation__button:hover .navigation__span::after {
  top: 10rem;
  transition: 0.3s; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn-simple {
  padding: 19rem;
  background-color: #f2f2f2;
  color: #434343;
  display: block;
  font-size: 14rem;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase; }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(40, 180, 133, 0.3), rgba(40, 180, 133, 0.9)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center; }

.Logo {
  height: 45rem;
  width: auto; }

.Logo-box {
  position: absolute;
  left: 40rem;
  top: 40rem; }

.footer {
  background-color: #2d3436;
  padding: 75rem 0 100rem 0;
  font-size: 13rem; }
  .footer__logo {
    text-align: center;
    margin-bottom: 10rem; }
  .footer__list {
    list-style: none;
    border-top: 1px solid rgba(153, 153, 153, 0.8); }
    .footer__list ul li {
      display: block;
      float: left; }
      .footer__list ul li:not(:last-child) {
        margin-right: 15rem; }
      .footer__list ul li a {
        text-decoration: none;
        color: #999;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 2rem;
        transition: all 0.3s; }
  .footer__contact {
    border-top: 1px solid rgba(153, 153, 153, 0.8);
    color: #999; }

.row {
  max-width: 1140rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 80rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 60rem; }
  .row .col-1-of-2 {
    width: calc((100% - 60rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 60rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60rem) / 3) + 60rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 60rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 60rem) / 4) + 60rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 60rem) / 4) + 2 * 60rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 290rem 0;
  margin-top: -25vh; }

.section-features {
  padding: 200rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -110rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 200rem 0 50rem 0;
  margin-top: -111rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 150rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }

.book {
  background-image: linear-gradient(75deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 500rem;
  border-radius: 5px;
  box-shadow: 0 15rem 40rem rgba(0, 0, 0, 0.8); }
  .book__form {
    width: 50%;
    padding: 60rem; }

/*
ANIMATION FEATURES :

animation time function; erase-in;
animation-delay: 3s;
animationiteratioan-count: 3;
backface-visibility: hidden;
rotate: (180deg);
animation-fill-mode: backwards;
*/
/*
NOTES :

1- z-index is using to put the white background behinde the button
i think the defualt property is 1
so we pick -1 to make sure that the white thing stay behind the button
for this to work we set positon for parent relative and for the child absulote (SECTION 2 LAST VIDEO);

2- to make things invisible we put opacity: 0;

3- animation: animation-name animation-duratiaon animation-time-function animation-delay;

4- for making animation-delay working correctly we set animation-fill-mode: backwards;

5- clearfix {
    content:'';
    clear: both;
    display: table;
} we can use this as well :  className::after {
                                            (clearfixVars)
                                        }
6- to center block elements inside anotehr block elements we set margin: 0 auto (used in laypout/grid) ;

7- width: calc((100% - 60rem) / 2);

8- making text gradiant {

    background-image:Linear-gradiant();
    -webkit-background-clip: text; => this will put the back ground (what ever it is ) just for the value it gets
    and rest aof a background is parent element background;
    color: transparent; => make the text color to what is behind it;

}

9- (ugly section2 picture borders) outline: 1.5rem solid $color-primery;
                                   outline-offset: 2rem;

10- for making any new section we use padding in some cases we can use height and width;

11- great box shadow box-shadow: 0 15px 40px rgba($color-black, 0.17);

12- if we are going to use background images insted of images we set HTML to &nbsp (Space);

13- if after putting a backgroundimages the border radius sis not work we use overflow: hidden;

14- box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

15- we can use row class without and colums(section-stories);

16- box shadow = X Y blur rgba(black, opacity);

17- figure for putting a image near a caption like story section;

18- section story shape-outside: circle(size "at" centerX centerY) the class haavveee to got width, height, float and it has to got webkit prefix
the shape outside only say how to text and other elemetnts float around it for making the thing a real circle we use clip-path: circle(50% at 50% 50%)
again the prefix is needed;

19-if somtimes animation shoked we set backfacevisibility to hidden;

20- site https://coverr.co/ for free videos;

21- when somthing overflows like bg-video we use overflow: hidden;

22- backgroundsize cover and 100% are the same... if we put more than 100 the picture get zoom in and if we put less the picture multiplays;

23-selecting sibilings elemnts (elements that are both child of a same parent) with ~ in general or + if it is the first child of a element and some psudo classes
that we see in form.scss like placeholder-shown etc.;


*/
