@import  "abstracts/functions"     ;
@import  "abstracts/mixins"        ;
@import  "abstracts/variables"     ;

@import  "base/animations"         ;
@import  "base/base"               ;
@import  "base/typography"         ;
@import  "base/utilities"          ;

@import  "components/button"       ;
@import  "components/btn-small"    ;
@import  "components/composition"  ;
@import  "components/feature-box"  ;
@import  "components/card"         ;

@import  "layout/header"           ;
@import  "layout/grid"             ;

@import  "pages/home"              ;
/*
ANIMATION FEATURES :

animation time function; erase-in;
animation-delay: 3s;
animationiteratioan-count: 3;
backface-visibility: hidden;
rotate: (180deg);
animation-fill-mode: backwards;
*/

/*
NOTES :

1- z-index is using to put the white background behinde the button
i think the defualt property is 1
so we pick -1 to make sure that the white thing stay behind the button
for this to work we set positon for parent relative and for the child absulote (SECTION 2 LAST VIDEO);

2- to make things invisible we put opacity: 0;

3- animation: animation-name animation-duratiaon animation-time-function animation-delay;

4- for making animation-delay working correctly we set animation-fill-mode: backwards;

5- clearfix {
    content:'';
    clear: both;
    display: table;
} we can use this as well :  className::after {
                                            (clearfixVars)
                                        }
6- to center block elements inside anotehr block elements we set margin: 0 auto (used in laypout/grid) ;

7- width: calc((100% - #{$gutter-horizontal}) / 2);

8- making text gradiant {

    background-image:Linear-gradiant();
    -webkit-background-clip: text; => this will put the back ground (what ever it is ) just for the value it gets
    and rest aof a background is parent element background;
    color: transparent; => make the text color to what is behind it;

}

9- (ugly section2 picture borders) outline: 1.5rem solid $color-primery;
                                   outline-offset: 2rem;

10-

*/



