.composition {
  position: relative; 
  margin-top: -15rem;  
}
  .composition__photo {
    width: 70%;
    box-shadow: 0 15rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.3s; }
    .composition__photo--p1 {
      left: 15%;
      top: 200%; }
    .composition__photo--p2 {
      left: 0%;
      top: 0%; }
    .composition__photo--p3 {
      left: 65%;
      top: 50%; }
    .composition__photo:hover {
      transform: scale(1.15) translateY(-5rem);
      box-shadow: 0 25rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }
