.heading-primery{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    
    &-main {
    display: block;
    font-weight: 400;
    letter-spacing:36rem;
    font-size: 70rem;
    animation-name: moveindown;
    animation-duration: 3s;
    }
    &-sub {
        display: block;
        font-weight: 400;
        letter-spacing: 19rem;
        font-size: 22rem;
        animation-name: moveinup;
        animation-duration: 3s;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #808080;
    padding: 16rem;
}

.heading-secondery {
    font-size: 35rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2rem;
    transition: all 0.3s;
    
    &:hover {
        transform: skewX(10deg) skewY(2deg) scale(1.1);
        text-shadow: 5rem 10rem 5rem rgba($color-black, 0.05);
    }
    
}

.heading-tertiary {
    font-size: 17rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 16rem;
    margin-bottom: u-margin-bottom-small;
    
    &:last-child {
        margin-bottom: 50rem;
    }
}










































