.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 80rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 16rem !important;
}

.u-margin-top-storySection {
    margin-top: -200rem !important;
}